:root {
  --red: #ff0000;
  --white: #f8fafc;
  --black: #31363f;
  --highlight: #fcc737;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

/* NAVIGATION BAR */

.header {
  background-color: var(--red);
  padding: 1rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 14%;
}

.logo img {
  width: 100%;
}

.navbar {
  width: 70%;
  padding: 0 4rem;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li {
  font-size: 1.2rem;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  font-weight: 600;
  color: var(--white);
  transition: border 500ms ease-in-out;
  text-transform: capitalize;
  border-bottom: 1.5px solid transparent;
}

.navbar ul li a:hover {
  border-bottom: 1.5px solid var(--white);
}

/* FOOTER */

.footer {
  padding: 4rem 8rem 1rem 8rem;
  background-color: var(--black);
  margin-top: 6rem;
}

.footer__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.row__1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col__1 {
  width: 20%;
}

.col__1 div {
  width: 100%;
}

.col__1 div img {
  width: 100%;
}

.col__2 {
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.important__link {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.important__link h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--white);
}

.important__link span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.important__link span a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--white);
  opacity: 0.8;
  transition: all 0.4s ease-in-out;
}

.important__link span a:hover {
  text-decoration: underline;
}

.help {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.help h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--white);
}

.help span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.help span a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--white);
  opacity: 0.8;
  transition: all 0.4s ease-in-out;
}

.help span a:hover {
  text-decoration: underline;
}

.address {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.address h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--white);
}

.address span p {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--white);
  opacity: 0.8;
  transition: all 0.4s ease-in-out;
}

.row__2 {
  align-self: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.row__2 h2 {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--white);
  opacity: 0.8;
}

.row__2 p {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--white);
  opacity: 0.5;
}

.social__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social__container a {
  text-decoration: none;
  display: inline-block;
  font-size: 2.5rem;
  color: var(--white);
  transition: color 0.4s ease-out;
}

.social__container a:hover {
  color: var(--red);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
  padding: 4rem 8rem;
}

.dcc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem 2rem;
}

.dcc__heading {
  text-align: center;
  align-self: center;
  margin-bottom: 1rem;
  font-size: 2.1rem;
  font-weight: 700;
  color: var(--red);
  text-decoration: underline;
}

.dcc__sub__heading {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--black);
}

.dcc__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 0.5rem 2rem;
}

.subject {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.subject__heading {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black);
  opacity: 0.9;
}

.subject__content {
  padding: 0 2rem;
}

.subject__content li {
  font-size: 1rem;
  font-weight: 400;
  color: var(--black);
  /* opacity: 0.8; */
  list-style-type: "\27A4";
  padding: 0 1rem;
}

.sub__list {
  padding: 0.5rem 1rem;
}

.sub__list li {
  list-style-type: "\2739";
  padding: 0 1rem;
}

.sub__sub__list {
  padding: 0.5rem 1rem;
}

.sub__sub__list li {
  list-style-type: decimal;
}
