:root {
  --red: #ff0000;
  --white: #f8fafc;
  --black: #31363f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.header {
  background-color: var(--red);
  padding: 1rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 14%;
}

.logo img {
  width: 100%;
}

.navbar {
  width: 70%;
  padding: 0 4rem;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li {
  font-size: 1.2rem;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  font-weight: 600;
  color: var(--white);
  transition: border 500ms ease-in-out;
  text-transform: capitalize;
  border-bottom: 1.5px solid transparent;
}

.navbar ul li a:hover {
  border-bottom: 1.5px solid var(--white);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 8rem;
  gap: 9rem;
  position: relative;
}

.hero__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__section section:nth-child(1) {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.hero__section section:nth-child(1) h2 {
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--black);
}

.highlight__text {
  color: var(--red);
}

.hero__section section:nth-child(1) p {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--black);
  opacity: 0.8;
}

.enquire__btn {
  width: 45%;
  position: relative;
  padding: 0.7rem 1.5rem;
  background-color: var(--white);
  font-size: 1rem;
  color: var(--red);
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.25rem;
  border: 2px solid var(--red);
  cursor: pointer;
  transition: color 400ms ease-in, background-color 400ms ease-in-out;
}

.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  transform: translateX(0.35rem) translateY(0.35rem);
  background-color: var(--red);
  transition: all 0.5s ease-in-out;
  z-index: -10;
}

.enquire__btn:hover {
  color: var(--white);
  background-color: var(--red);
}

.enquire__btn:hover .slider {
  transform: translateX(-0.35rem) translateY(-0.35rem);
  background-color: transparent;
}

.hero__section section:nth-child(2) {
  width: 45%;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(49, 54, 63, 0.2);
}

.hero__section section:nth-child(2) img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
}

#about h2 {
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--red);
}

#about article {
  width: 90%;
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--black);
  opacity: 0.8;
}

.milestone {
  width: 120%;
  background-color: var(--red);
  border-radius: 1rem;
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(49, 54, 63, 0.2);
}

.milestone span {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--white);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.counselling__rect {
  width: 120%;
  background-color: var(--red);
  border-radius: 1rem;
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(49, 54, 63, 0.2);
}

.caller__img {
  width: 25%;
  margin-left: 4rem;
  margin-top: -12rem;
}

.call__details {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.call__details__h2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

.call__details h1 {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--white);
}

.call__details span {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--white);
}

.contact p {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--black);
  opacity: 0.8;
}

.contact h2 {
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--red);
}

.contact__details {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 1rem;
}

.contact__details span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;

  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.contact__details span a {
  text-decoration: none;
  color: var(--black);
  opacity: 0.8;
}

.contact__details span a:hover {
  text-decoration: underline;
}

.contact__details span i {
  color: var(--red);
}

.affiliation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.affiliation h2 {
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--red);
}

.affiliation div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.affiliation__img {
  width: 20%;
}

.affiliation__img img {
  width: 100%;
}

/* FOOTER */

.footer {
  padding: 4rem 8rem 1rem 8rem;
  background-color: var(--black);
  margin-top: 6rem;
}

.footer__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.row__1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col__1 {
  width: 20%;
}

.col__1 div {
  width: 100%;
}

.col__1 div img {
  width: 100%;
}

.col__2 {
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.important__link {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.important__link h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--white);
}

.important__link span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.important__link span a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--white);
  opacity: 0.8;
  transition: all 0.4s ease-in-out;
}

.important__link span a:hover {
  text-decoration: underline;
}

.help {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.help h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--white);
}

.help span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.help span a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--white);
  opacity: 0.8;
  transition: all 0.4s ease-in-out;
}

.help span a:hover {
  text-decoration: underline;
}

.address {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.address h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--white);
}

.address span p {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--white);
  opacity: 0.8;
  transition: all 0.4s ease-in-out;
}

.row__2 {
  align-self: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.row__2 h2 {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--white);
  opacity: 0.8;
}

.row__2 p {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--white);
  opacity: 0.5;
}

.social__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social__container a {
  text-decoration: none;
  display: inline-block;
  font-size: 2.5rem;
  color: var(--white);
  transition: color 0.4s ease-out;
}

.social__container a:hover {
  color: var(--red);
}
